body.print-products-area .woocommerce,
.print-products-area button,
.print-products-area input,
.print-products-area textarea{
	line-height: normal;
}
.print-products-area .artwork-buttons{
	position:relative;
	margin: 20px 0 0;
}
.print-products-area .artwork-message{
	margin-top:14px;
	color:#FF0000;
}
.print-products-area .artwork-buttons a{
	display: inline-block;
	background: #ebe9eb;
	position: relative;
	color: #515151 !important;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	padding: .618em 1em;
	border-radius: 3px;
 	margin: 0 10px 10px 0;
 }
.print-products-area .artwork-buttons a:hover{
	color: #515151;
	background: #dad8da;
	text-decoration: none;
}
.print-products-area .artwork-buttons a:focus{
	outline: none;
}
.print-products-area a.artwork-upload,
.print-products-area a.artwork-continue,
.print-products-area a.artwork-hlight,
.print-products-area a.autoproof-confirm{
	background-color: #a46497;
	color: #fff !important;
}
.print-products-area a.artwork-upload:hover,
.print-products-area a.artwork-continue:hover,
.print-products-area a.artwork-hlight:hover,
.print-products-area a.autoproof-confirm:hover{
	background: #935386;
}
.print-products-area .artwork-buttons .upload-loading{
	position:absolute;
	top:8px;
	left:265px;
	display:none;
}
.print-products-area .artwork-buttons .eddm-select-routes-btn{
	font-weight: 500;
}
.print-products-area .product-attributes{
	line-height: 1.3;
}
.print-products-area .product-attributes-list{
	list-style: none;
	margin: 10px 0;
	padding: 0;
	clear:both;
}
.print-products-area .product-attributes-list li{
	margin: 0 0 10px;
	border:none !important;
}
.print-products-area .ua-files-list div{
	min-height:27px;
}
.print-products-area .ua-files-list .pf-span{
	float:right;
}
.woocommerce-order-details .print-products-area .product-attributes-list li{
	float:none;
	width:100%;
	text-align:left;
}
.woocommerce-order-details .print-products-area .product-attributes-list li .product-artwork-files-list li{
	float:left;
	width:auto;
}
.print-products-area .product-attributes-list li .attr-box{
	position:relative;
}
.print-products-area .product-attributes-list li .attr-box.attr-radio-box{
	display: inline-block;
	vertical-align: middle;
}
.print-products-area .product-attributes-list li .attr-box.attr-radio-box .a-help{
	bottom: 10px;
}
.print-products-area .product-attributes-list li:last-child{
	margin-bottom: 0;
}
.print-products-area .product-attributes-list select{
	width: 100%;
	height: 28px;
	border: 1px solid #ccc;
	font-size: 1em;
}
.print-products-area .product-attributes-list input[type="text"],
.print-products-area .project-name-area input{
	width: 100%;
	height: 28px;
	border: 1px solid #ccc;
	padding: 6px 10px;
	font-size: 1em;
	line-height: normal;
	-webkit-box-shadow:none;
	box-shadow:none;
	float:none;
}
.print-products-area .product-attributes-list .a-help{
	position:absolute;
	bottom:4px;
	right:-25px;
}
.print-products-area .product-attributes-list .a-help .a-help-text {
    width: 435px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -421px;
    display:none;
}
.print-products-area .product-attributes-list .a-help .a-help-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 9px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.print-products-area .product-attributes-list .a-help .a-help-text .ah-text-box{
	border:1px solid #FFF;
	border-radius:6px;
    padding: 10px;
}
.print-products-area .product-attributes-list .a-help .a-help-text p{
	margin-bottom:15px;
}
.print-products-area .product-attributes-list .a-help .a-help-text p:last-child{
	margin-bottom:0;
}
.print-products-area .product-attributes h3{
	margin: 0 0 10px;
}
.print-products-area .product-attributes h4{
	font-size: 1.1em;
	margin-top:10px;
}
.print-products-area .product-attributes .matrix-type-simple{
	margin: 0 0 15px;
}
.print-products-area .product-attributes .product-price{
	margin: 20px 0 10px;
}
.print-products-area .product-attributes .product-price-incl-tax{
	margin:20px 0 0;
}
.print-products-area .product-attributes .product-price-excl-tax{
	padding-left:93px;
}
.print-products-area .product-attributes .product-weight{
	margin: 0 0 10px;
	display:none;
}
.reorder-buttons{
	margin: 15px 0 0;
}
.print-products-area [class^="history-reorder-form"]{
	margin: 0;
}
.print-products-area table.cart thead{
	text-indent: 0 !important;
}
.print-products-area table.cart thead th{
	padding: .857em 1.387em !important;
}

.print-products-area .artwork-files-list,
.print-products-area .product-artwork-files-list{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.print-products-area .artwork-files-list li,
.print-products-area .product-artwork-files-list li{
	float: left;
	margin:0 3px 3px 0;
	width: 70px;
}
.print-products-area .ftpfilenames li{
	float: none;
	margin:0 0 10px 0;
	width: 170px;
}
.print-products-area .artwork-files-list li .blitline-img{
	border:1px solid #C1C1C1;
}
.print-products-area .personalizationGallery{
	width: 70px;
}
.print-products-area .product-add-button{
	padding: 20px 0 0;
	width:100%;
}
.print-products-area .product-na-text{
	padding: 10px 0 0;
	clear:both;
}
.add-cart-form .artwork-btn {
	margin-bottom: 5px;
}
.print-products-area .cart_table_item_print td.product-thumbnail{
	width: 190px;
}
.print-products-area .cart_table_item_print .product-attributes-list li,
.print-products-area .woocommerce-checkout-review-order-table .product-attributes-list li,
.print-products-area .order_details .product-attributes-list li{
	margin-bottom: 2px;
}
.print-products-area .editimagediv{
	margin: 10px 0;
}
.print-products-area .area-wh-error,
.min-qmailed-error{
	color:#FF0000;
	margin-top:6px;
	display:none;
}
.print-products-area .quantity-mailed-error{
	color:#FF0000;
	margin-top:6px;
	font-size:1em;
	display:none;
}
#cboxClose{
	box-shadow:none;
}
.single-product div.product form.cart .button.design-online-btn{
	margin-left:5px;
}
.print-products-area .attribute-images ul{
	list-style: none;
	margin: 0;
	padding: 15px 0 0;
	overflow: hidden;
}
.print-products-area .attribute-images ul li{
	float: left;
	margin: 0 8px 8px 0;
}
.print-products-area .attribute-images img{
	border: 2px solid transparent;
	cursor:pointer;
}
.print-products-area .attribute-images img.active{
	border-color: #5C5C5C;
}
.artwork-buttons #pickfiles{
	width: 120px;
	text-align:center;
}
.artwork-buttons .moxie-shim{
	top: 0 !important;
	left: 0 !important;
	width: 120px !important;
	height: 36px !important;
}
.artwork-buttons .moxie-shim input{
	cursor: pointer !important;
}
.wp2print-info-form{
	width:470px;
}
.wp2print-info-form .field-row{
	margin: 0 0 10px;
}
.wp2print-info-form .field-row:after{
	content: '';
	display: table;
	clear: both;
}
.wp2print-info-form label{
	float: left;
	width: 200px;
	padding-right: 5px;
}
.wp2print-info-form input[type="text"],
.wp2print-info-form input[type="email"],
.wp2print-info-form input[type="passsword"],
.wp2print-info-form input[type="url"],
.wp2print-info-form textarea{
	float: left;
	width: 270px;
	height: 28px;
	border: 1px solid #ccc;
	background: #f1f1f1;
	padding: 4px 10px;
	font-size: 1em;
	line-height: 1;
	box-shadow: none;
}
.wp2print-info-form textarea{
	float: none;
	display: block;
	height: 100px;
	width: 470px;
}
.wp2print-info-form select{
	border: 1px solid #ccc;
	background: #f1f1f1;
	height: 28px;
	width: 270px;
}
.wp2print-info-form .uploads-box{
	margin: 0 0 10px;
}
.wp2print-info-form .uploads-box .uploads-fields{
	width:470px;
	height:158px;
	border:1px solid #C1C1C1;
	padding: 10px;
	overflow: auto;
}
.uploads-fields .files-list span{
	display: block;
}
.wp2print-info-form .uploads-box .upload-loading{
	display: inline-block;
	vertical-align: middle;
}
.wp2print-info-form .uploads-box .upload-buttons{
	margin: 0 0 10px;
}
.wp2print-info-form .comments-row label,
.wp2print-info-form .uploads-box label{
	float: none;
	width: auto;
}
.wp2print-info-form .red{
	color: #f00;
}
.wp2print-info-form #selectfiles,
.wp2print-info-form #uploadfiles{
	display: inline-block;
	vertical-align: middle;
	background: #ebe9eb;
	position: relative;
	margin: 0 10px 0 0;
	height: 36px;
	color: #515151;
	font-size: 14px;
	font-weight: 700;
	line-height: 36px;
	text-decoration: none;
	cursor: pointer;
	padding: 0 1em;
	border-radius: 3px;
}
.wp2print-info-form #selectfiles:focus,
.wp2print-info-form #uploadfiles:focus{
	outline: none;
}
.wp2print-info-form #selectfiles:hover{
	background: #dad8da;
}
.wp2print-info-form #uploadfiles{
	background: #a46497;
	color: #fff;
}
.wp2print-info-form #uploadfiles:hover{
	background: #935386;
}
.wp2print-info-form-success{
	padding: 10px;
	border: 1px solid #C1C1C1;
	font-weight: bold;
	color: #336600;
}
.wp2print-info-form .iform-error{
	color: #f00;
	margin-bottom:15px;
}

.orders-awaiting-approval-details table td{
	padding:12px;
}
.orders-awaiting-approval-details table.items-table td{
	padding:8px 12px;
}
.orders-awaiting-approval-details .act-button {
	color:#FFF;
	border-radius:3px;
	font-size:13px;
	padding:6px 20px;
	cursor:pointer;
	box-shadow:none;
}
.orders-awaiting-approval-details .approve-button {
	background:#229512 !important;
	border:1px solid #229512 !important;
}
.orders-awaiting-approval-details .reject-button {
	background:#E50F06 !important;
	border:1px solid #E50F06 !important;
}
.orders-rejected-files-wrap .orf-main-table{
	width:100%;
}
.orders-rejected-files-wrap .orf-main-table tr{
	background:#FFF !important;
}
.orders-rejected-files-wrap .orf-main-table td{
	padding:10px 10px 10px 5px;
}
.orders-rejected-files-wrap .orf-main-table td h4{
	margin:0;
}
.orders-rejected-files-wrap .orf-main-table td.rf-line div{
	height:35px;
	line-height:35px;
	margin-bottom:5px;
}
.orders-rejected-files-wrap .orf-upload-btn{
	padding:5px 12px;
}

.notice-success p{
	color:#229512;
}

/* AEC product upload */
.print-products-area .low-cost-options-box{
	margin:10px 0;
	display:none;
}
.print-products-area .low-cost-options-box input{
	color: #FFF;
	background:#60646c !important;
	font-weight:normal;
	font-size:11px;
}
.print-products-area .pdf-results-box{
	padding:25px 5px 0px 5px;
}
.print-products-area .pdf-results-table{
	width:800px;
	height:600px;
	overflow:auto;
	font-size:13px;
}
.print-products-area .pdf-results-table table thead th{
	padding:7px;
	border-bottom:1px solid #C1C1C1;
	text-transform:none;
	vertical-align:middle;
}
.print-products-area .pdf-results-table table tbody td{
	padding:7px;
	vertical-align:middle;
}
.print-products-area .pdf-results-close {
	text-align:right;
}
.print-products-area .pdf-results-close input {
	background:#60646c !important;
	font-weight:normal;
	font-size:11px;
	margin-right:5px;
	color:#FFF;
}
.product-type-aec .images-title,
.product-type-aecbwc .images-title,
.product-type-aecsimple .images-title{
	display:none;
}

/* Uploader */
.print-products-area .product-actions-holder{
	position:relative;
}
.print-products-area .uploader-holder{
	background:#fff;
	margin:10px 0;
	z-index: 9999;
}
.product-type-aec,
.product-type-aecbwc,
.product-type-aecsimple{
	position:relative;
}
.product-type-aec .upload-pdf-processing,
.product-type-aecbwc .upload-pdf-processing,
.product-type-aecsimple .upload-pdf-processing{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index:99999;
	display:none;
}
.product-type-aec .upload-pdf-processing .prtext,
.product-type-aecbwc .upload-pdf-processing .prtext,
.product-type-aecsimple .upload-pdf-processing .prtext{
	position: relative;
	width:100%;
	height:100%;
	overflow:auto;
	padding:20px;
	margin-top:3px;
	border:1px solid #EEEEEE;
	background:#F0F8FE;
	z-index:999999;
	opacity:0.8;
}
.product-type-aec .upload-pdf-processing .prtext ul,
.product-type-aecbwc .upload-pdf-processing .prtext ul,
.product-type-aecsimple .upload-pdf-processing .prtext ul{
	position: absolute;
	list-style:none;
	margin:0px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.product-type-aec .upload-pdf-processing .prtext ul .tl,
.product-type-aecbwc .upload-pdf-processing .prtext ul .tl,
.product-type-aecsimple .upload-pdf-processing .prtext ul .tl{
	text-align:center;
	font-weight:bold;
}
.print-products-area .uploader-holder form{
	display:none;
}
.print-products-area .aec-totals{
	margin-bottom:10px;
}
.print-products-area .aec-totals .aec-total{
	padding-bottom:2px;
}
.print-products-area .product-price-dicount{
	margin:5px 0 -10px 0;
}
.print-products-area .tabs {
	width:100%;
	overflow:hidden;
	font-size:0.9em;
	margin:0;
	zoom:1;
	padding:1px;
	position:relative;
}

.print-products-area .tabs dt {
	float:left;
	line-height:2;
	height:2em;
	background:#e8f0f5;
	border:1px solid #C1C1C1;
	border-bottom:0;
	padding:0 1em;
	position:relative;
	left:35px;
	margin-right:1px;
	cursor:pointer;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}

.print-products-area .tabs dt:hover {
	background-color:#bfdff4;
}

.print-products-area .tabs dt.selected {
	border-color:#C1C1C1;
	background:#fff;
	z-index:3;
	cursor:auto;
}

.print-products-area .tabs dd {
	float:right;
	overflow:hidden;	
	width:1px;
	height:1px;
	margin:2em 0 0 -100%;
	position:relative;
	z-index:2;
}

.print-products-area .tabs dd.selected {
	width:100%;
	height:100%;
}

.print-products-area .tabs dd.extended {
	margin:0 0 0 -100%;
}

.print-products-area .tabs .tab-content {
	border:1px solid #C1C1C1;
	padding:10px;
}
.uploader-placeholder{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.print-products-area .dropTarget{
	position: absolute;
	display: none;
	vertical-align: middle;
	border: 0;
	background: #B5EDBC;
	border: 1px solid #74DD82;
	border-radius: 10px;
	opacity:.7;
	text-align: center;
	height: 100%;
	width: 100%;
	font-size:18pt;
}

.print-products-area .fileList { 	
	padding-top: 2px;
	width: 100%;
	min-height: 20px; 	
}

.print-products-area .fileListThumbs{
	border:1px solid #C1C1C1;
    padding-top: 2px;
	width: 100%;
	min-height: 20px; 	
    overflow-y: scroll;
}
.print-products-area .fileListThumbs ul {
    display: inline-block;  	
	height: 100%;
	
	margin: 0;
    padding: 0;  
    list-style: none;

    -webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.print-products-area .fileListThumbs .listItemsHolder li{
   /* height: 120px;
    width: 120px;*/
    display: inline-block;
    float: left;
    margin: 4px;
    border: 1px solid #CCCCCC;
	position: relative;
}

.print-products-area .bottomPanelThumbs {
	bottom: 0;
	height: 16px;
	white-space: nowrap;
	position: absolute;
	z-index:5;
	background-color: rgba(204, 204, 204, 0.6);
}

.print-products-area .topPanelThumbs {
	top: 0;
	height: 16px;
	white-space: nowrap;
	position: absolute;
	z-index:5;
	/*background-color: #CCC;*/
	background-color: rgba(204, 204, 204, 0.6);
	/*opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.print-products-area .fileList ul {
	border:1px solid #C1C1C1;
	height: 100%;
	width: 100%; 
	overflow-y: scroll;
	margin: 0;
    padding: 0;  
    list-style: none;

    -webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.print-products-area .fileList .listItemsHolder li{   
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #CCCCCC;
	padding-left:2px;
	background:#fff;
}

.print-products-area .imgHolder{
	display: table-cell; 
	vertical-align: middle;
}

.print-products-area .fileThumb{
	display: block;
	margin: 0 auto;
	vertical-align: middle; 
}

.print-products-area .fileSpacer {
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both; 
}
.print-products-area .fileName { 
  float: left;
  overflow-x: hidden;
  /*width: 65%;*/  
  min-width: 50px;
  white-space: nowrap;
  padding-left:5px;
}
.print-products-area .fileState { 
  float: left;
  width: 16px;  
  padding-left: 5px;
  padding-right: 5px;
  display:none;
}
.print-products-area .fileStatus, .fileSize {
	float: right;
	width: 10%;	
}
.print-products-area .fileStatus{	
	width: 40px;
	min-width: 30px;
	max-width: 40px;
}
.print-products-area .fileSize {
	width: 70px;	
	min-width: 50px;
	max-width: 70px;
}
.print-products-area .fileRemove{
	float: right;
	cursor: pointer;
	width: 16px;
	display:none;
}

.print-products-area .notTransparent{
	opacity:1.0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

.print-products-area .rotateLeft{	
	float: left;
	width: 16px;  
	padding-left: 0px;
	padding-right: 5px;
	cursor: pointer;	
}
.print-products-area .rotateRight{
	float: right;
	cursor: pointer;
	width: 16px;
}

.print-products-area .uuFileInput  {
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity:0);
	font-size:199px;
	width: 100%;
	height: 100%;
	cursor:pointer;	
	zoom:1;
}

.print-products-area .uuButton {
	display: inline-block;
	margin: 0;
	padding: 5px 0;
	border-width: 0;
	overflow: visible;
	text-decoration: none;
	color: #333;
}

.print-products-area .uuClearButton{
	float: right;
}

.print-products-area .uuUploadButton,
.print-products-area .uuContinueButton{
	display: none;
}

.print-products-area .uuButtonDisabled{
	color: #CCC;
}

.print-products-area .uuButton span {
	background: #ebe9eb;
	margin: 0;
	padding: 5px 4px;
	border:1px solid #ebe9eb;
	border-radius:3px;
}

.print-products-area .uuUploadButton span,
.print-products-area .uuContinueButton span{
	background: #a46497;
	border:1px solid #a46497;
	color:#FFF;
}

* html .print-products-area .uuButton span {
	padding-top: 0;
}

.print-products-area .uuButton span span {
	position: relative;
	padding: 3px .4em;
	border-width: 0;
	white-space: nowrap;
}

.print-products-area .uuButton span span img{
	position: relative;
	vertical-align: middle;
	border-width: 0;
	padding-right: 3px;
	margin: 0;
}

.print-products-area .uuButton:hover span, 
.print-products-area .uuButton:hover span span,
.print-products-area .uuButtonHover span, 
.print-products-area .uuButtonHover span span,  
.print-products-area .uuButton:focus span, 
.print-products-area .uuButton:focus span span {
	cursor: pointer;
}

.print-products-area .uuButton:active span,
.print-products-area .uuButtonActive span {
	background-position: 0 -400px;
	outline: none;
}

.print-products-area .uuButton:focus, 
.print-products-area .uuButton:active,
.print-products-area .uuButtonFocus, 
.print-products-area .uuButtonActive  {
	outline: none;
}
.print-products-area .uuButton span span img,
.print-products-area #uploadButton_drag-and-drop{
	display:none;
}

/* main button style */
.print-products-area .primary {
	font-weight: bold;
	color: #000;
}


.print-products-area .uuControlsContainer{
	/*height: 10%;*/
	min-height: 25px;
}
.print-products-area .uuStatusContainer{
	/*height: 15%;*/
	min-height: 40px;
}
.print-products-area .uuStatusLabel{
	padding: 3px;
	width: 100%;
	white-space: nowrap;
	min-height: 10px;
	max-height: 30px;
	overflow:hidden;	
}
.print-products-area .uuProgressBar {	
	border:1px solid #b0d0e9;
	background: #FFFFFF;
	margin-top: 2px;
	padding: 1px;
	min-height: 10px;
}
.print-products-area .uuProgressBarBody {
	width: 0px;
	height: 10px;
	background: #bfdff4;
}
.print-products-area .email-quote-box{
	margin:15px 0;
	padding-top:15px;
	border-top:1px solid #EEE;
}
.print-products-area .email-quote-box .eq-email{
	width:50%;
}
.print-products-area .email-quote-box .eq-errors{
	margin-top:10px;
	color:#FF0000;
	display:none;
}
.print-products-area .email-quote-box .eq-errors span{
	display:none;
}
.print-products-area .email-quote-box .eq-success{
	margin-top:10px;
	color:#669900;
	display:none;
}

.print-products-area .uuImgRotated90 {
	/*General*/
	transform: rotate(90deg);
	/*Firefox*/
	-moz-transform: rotate(90deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: rotate(90deg);
	/*Chrome, Safari*/
	-webkit-transform: rotate(90deg);
	/*Opera*/
	-o-transform: rotate(90deg);
	opacity:0.4;
	filter:alpha(opacity=40);

}
.print-products-area .uuImgRotated180 {
	-ms-transform: rotate(180deg);	
	-webkit-transform: rotate(180deg);						
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);						
	-sand-transform: rotate(180deg);
}
.print-products-area .uuImgRotated270 {
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);						
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);						
	-sand-transform: rotate(270deg);
}
.cart-upload-button-box{
	clear:both;
	padding-top:8px;
}
#absdiv_drag-and-drop{display: none}
.aec-product-left{
	margin-top:10px;
}
.book-product-left{
	/*margin-top:50px;*/
}
.aec-product-left .project-name-error{
	display: none;
	width: 100%;
	clear: both;
	color: #f00;
	margin: 5px 0 10px;
}
.aec-product-left .project-name-area .pname-fld{
	overflow: hidden;
}
.aec-product-left .project-name-area label{
	float: left;
	margin: 0 10px 0 0;
}
.aec-product-left .project-name-area input[type="text"]{
	width: 100%;
	box-sizing: border-box;
}
.uploader-warn-message{
	border:1px solid #FF0000;
	padding:10px;
	margin-top:10px;
}
.uploader-warn-message p{
	color:#FF0000;
	margin:0px;
}
.ma-section{
	margin-bottom:30px;
}
.ma-section-head{
	padding:10px;
	background:#F4F4F4;
	position:relative;
}
.ma-section-head .a-box{
	position:absolute;
	background:url("../images/a-left.png") no-repeat;
	width:7px;
	height:7px;
	right:18px;
	top:16px;
}
.ma-section-head.opened .a-box{
	background:url("../images/a-down.png") no-repeat;
}
.orders-awaiting-approval-details table tr:nth-child(2n){
	background:none !important;
}
.order-item-proofs .oip-label{
	background:rgba(0, 0, 0, 0.025);
	padding:10px;
	margin-bottom:10px;
}
.download-proofs-list{
	margin-bottom:20px;
}
.download-proofs-list ul{
	list-style:none;
	margin:0;
	padding:0 10px;
}
.download-proofs-list ul li{
	padding-bottom:10px;
}
.download-proofs-list ul li:last-child{
	padding-bottom:0px;
}
.order-item-proofs .oip-form{
	padding:0 10px;
}
.order-item-proofs .oip-form textarea{
	margin-bottom:10px;
}
.oi-approval{
	list-style:none;
	margin:0;
	padding:0;
}
.oi-approval li{
	float:left;
	margin:0 5px 0 0;
	padding:0;
}
.oi-approval span{
	display:block;
	width:16px;
	height:16px;
	position:relative;
	text-indent:-9999px;
	float:left;
	margin-top:3px;
}
.oi-approval span.approved{
	background: url(../images/icons/order-approved.png) no-repeat;
}
.oi-approval span.awaiting{
	background: url(../images/icons/order-awaiting.png) no-repeat;
}
.oi-approval span.rejected{
	background: url(../images/icons/order-rejected.png) no-repeat;
}
.ma-section-content.hidden-section{
	display:none;
}
.wp2print-wwof-qty{
	padding:5px 4px 3px 4px;
	min-width:60px;
}
.order-again{
	display:none !important;
}
.pp-reorder-error{
	margin:10px 0;
	padding:5px 10px;
	border:1px solid #FF0000;
	color:#FF0000;
	display:none;
}
table.order_details .afu-link{
	display:none;
}
.ois-order-status {
	margin-bottom:10px;
}
.ois-ma-istatus span,
.ois-order-status span{
	font-weight:600;
}
.max-price-message{
	padding:20px;
	width:500px;
}
.max-price-message p{
	margin-bottom:10px;
}
.g-recaptcha{
	margin:10px 0;
}
.oaa-download-btn:before{
	content:"";
	background: url(images/download-white.svg) no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 7px 0 0;
}

.product-attributes-list .oi-files-list li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	line-height:16px;
	clear:both;
}
.product-attributes-list .oi-files-list .i-check{
	float:left;
	width:12px;
	height:12px;
	background: url(images/check.svg) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin:3px 4px 0 0;
}
.product-attributes-list .oi-files-list .af-replace{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 0 0 0 5px;
}
.product-attributes-list .oi-files-list .afile-replace{
	display:block;
	/*text-indent: -9999px;*/
	position: relative;
	text-align: left;
	padding: 0 0 0 15px;
	margin: 0 0 0 5px;
	line-height:16px;
}
.product-attributes-list .oi-files-list .afile-replace span{
	opacity:0;
}
.product-attributes-list .oi-files-list .afile-replace:hover{
	/*text-indent: 0;*/
	text-decoration: none;
}
.product-attributes-list .oi-files-list .afile-replace:hover span{
	opacity:1;
}
.product-attributes-list .oi-files-list .afile-replace:before{
	content:"";
	background: url(images/arrows.svg) no-repeat;
	-webkit-background-size:12px 8px;
	background-size:12px 8px;
	background-position: 50% 50%;
	width: 12px;
	height: 8px;
	display: block;
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	left: 0;
	white-space: nowrap;
}
.woocommerce-mini-cart span.quantity{
	display:none;
}
.kt-header-extras span.kt-cart-total{
	width:auto !important;
	padding:0 5px;
}
.a-radio{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.a-radio label{
	display: block;
	margin: 0 5px 5px 0;
}
.a-radio label input{
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.a-radio label input:not(:checked) + span{
	border:1px solid #ccc;
	background: #fff;
	box-shadow: none !important;
	color:#60646c;
}
.a-radio label input + span{
	box-shadow: none !important;
	border:1px solid transparent;
	padding:0.4em 0.7em;
	font-weight: 400;
	line-height: 1;
}
.print-products-area .product-attributes-list.pb-fields{
	margin-top:20px;
}
.pb-required{
	float:right;
	font-size:0.8em;
}
.pb-curr{
	position:absolute;
	margin:3px 0 0 -11px;
}
.book-uploader .uuControlsContainer{
	display:none;
}
.book-uploader{
	position: relative;
}
.book-uploader:after{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#F0F8FE;
	opacity:0.8;
	/*border: 1px solid #eee;*/
	opacity:0;
	transition: all 0.3s linear;
	visibility: hidden;
}
.book-uploader.loading:after{
	opacity:.8;
	z-index: 9999;
	visibility: visible;
}
.book-uploader ul.files-process{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	z-index: 99999;
	list-style: none;
	margin: 0;
	padding: 0;
	opacity:0;
	z-index: 0;
	transition: all 0.3s linear;
	visibility: hidden;
	text-align: center;
	width:95%;
}
.book-uploader.loading ul.files-process{
	opacity:1;
	z-index: 99999;
	visibility: visible;
}
.book-uploader ul.files-process .tl{font-weight: 700;}
.eddm-iframe-wrap{position: relative;}
.eddm-iframe-wrap:after{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(255,255,255,0.7) url(../images/loading.svg) no-repeat 50% 50%;
	-webkit-background-size:70px auto;
	background-size:70px auto;
	opacity:0;
	visibility:hidden;
	transition: all 0.3s linear;
}
.eddm-iframe-wrap.loading:after{
	opacity:1;
	visibility:visible;
}
.eddm-iframe-wrap .button.eddm-cancel{
	color: #515151 !important;
	background: #ebe9eb;
}
.eddm-iframe-wrap .button{
	margin-right:10px;
}
.my_account_orders tr.woocommerce-orders-table__row{
	position:relative;
}
.o-notes .o-notes-text{
	position:absolute;
	width:600px;
	top:50px;
	right:0;
	border:1px solid #C1C1C1;
	background:#EEE;
	padding:5px 10px;
	border-radius:5px;
	z-index:1000;
	display:none;
}
.omf-success{
	border:1px solid #336600;
	padding:5px 10px;
	color:#336600;
	display:none;
}
.user-files-wrap .uf-box{
	border:1px solid #C1C1C1;
	padding:12px;
	margin-bottom:15px;
}
.user-files-wrap .uf-box table{
	width:100%;
	margin:5px 0 0;
}
.user-files-wrap .uf-box table td{
	background:#FFF;
	padding:3px 5px;
}
.uu-files{
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #C1C1C1;
}
.uu-files table td{
	padding:0 15px 5px 0;
}
.uu-files table td a.uu-flink{
	text-decoration:none;
	color:#444;
}
.uu-files table td a.uu-flink:hover{
	text-decoration:underline;
}

.admin-bar > .select2-container.select2-container--default.select2-container--open {margin-top: 32px;}
.approval-message{
	padding:20px 0;
	text-align:center;
	background:#FFFFD9;
	border-bottom:1px solid #00A650;
	color:#00A650;
	z-index:1000;
}
.print-products-area .attribute-colors ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 15px 0 0;
}
.print-products-area .attribute-colors ul li {
	margin: 0 8px 8px 0;
	flex-shrink: 0;
}
.print-products-area .attribute-colors ul li span {
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.print-products-area .attribute-colors ul li span {
	border: 1px solid #ccc;
}
.print-products-area .attribute-colors ul li span.active {
	border: 2px solid #5C5C5C;
}
.store-opening-wrap {
	margin-bottom: 45px;
}
#CarrierPickupPopup_heading {
	font-size: 26px;
}
.store-opening-wrap ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 0 -15px;
	list-style: none;
}
.store-opening-wrap ul li {
	display: flex;
	flex-direction: column;
	margin: 0 15px 15px 0;
	text-align: center;
}
.store-opening-wrap ul li:last-child {
	margin-right: 0;
}
.store-opening-wrap ul li .d-head {
	font-weight: bold;
}

.store-opening-wrap ul li .d-closed {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pickup-time-wrap ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.pickup-time-wrap ul li {
	display: flex;
	margin: 0;
}

.pickup-time-wrap ul li > div {
	height: 50px;
	line-height: 15px;
	margin: 0 2px 5px 0;
	background-color: #f6f6f6;
	border: 1px solid #c3c4c4;
	flex-shrink: 0;
}

.pickup-time-wrap ul li .pu-head {
	display: flex;
	align-items: center;
	width: 205px;
	padding: 0 8px;
}

.pickup-time-wrap ul li:first-child .pu-head {
	font-size: 1.3em;
}

.pickup-time-wrap ul li .pu-head img {
	max-height: 40px;
	max-width: 90px;
	flex-shrink: 0;
}

.pickup-time-wrap ul li .pu-head .pu-name {
	display: flex;
	flex-direction: column;
	margin-left: 7px;
	font-size: 13px;
	font-weight: bold;
}

.pickup-time-wrap ul li .pu-head .pu-name span {
	margin: 3px 0;
}

.pickup-time-wrap ul li .pu-day {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 68px;
	height: 50px;
	font-size: 13px;
	text-align: center;
}

.pickup-time-wrap ul li:first-child .pu-head,
.pickup-time-wrap ul li:first-child .pu-day {
	height: 35px;
}

.pickup-time-wrap ul li:not(:first-child) .pu-day {
	font-weight: bold;
}

.pickup-time-wrap ul li .pu-day span {
	margin: 2px 0;
}
.wcbofaddtocart {
	display:none;
}

.autoproof-gallery-wrap {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.autoproof-gallery-wrap .ag-left,
.autoproof-gallery-wrap .ag-right {
	flex-shrink: 0;
}

.autoproof-gallery {
	position: relative;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.autoproof-gallery .g-item {
	position: absolute;
	left: 0;
	transform: translateX(-100%);
	text-align: center;
	transition: all 0.4s linear;
	opacity: 0;
}

.autoproof-gallery .g-item img {
	border: 1px solid #EEE;
}

.autoproof-gallery .g-item.i-active {
	position: relative;
	left: 50%;
	opacity: 1;
	transform: translateX(-50%);
}

.autoproof-gallery .g-item.i-active ~ .g-item,
.autoproof-gallery .g-item.i-last-active {
	left: 100%;
	transform: none;
}

.autoproof-gallery .g-item.i-active:first-child ~ .g-item:last-child {
	left: 0;
	transform: translateX(-100%);
}

.autoproof-buttons {
	text-align: center;
}
div.pp_pic_holder{
	z-index:9999999999 !important;
}
div.pp_overlay {
	z-index:999999999 !important;
}
.print-products-area .product-attributes .product-price .price-unit{
	padding-left:25px;
}
.reorder-color-popup {
	padding:20px;
	width:320px;
	min-height:290px;
}
.reorder-color-popup h3 {
	margin-top:0;
}
.reorder-color-popup .rcp-row {
	padding-bottom:10px;
}
.reorder-color-popup select.rcp-color {
	width:200px;
	margin-left:5px;
}
.reorder-color-popup .other-row{
	display:none;
}
.reorder-color-popup input.rcp-other {
	border:1px solid #C1C1C1;
	padding:7px;
	background:#FFF;
}
.reorder-color-popup .button{
	margin-top:10px;
}
.ohidden { display: none !important; }
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
.pf-checking .pf-ch-box {
	border-bottom: 1px solid #EEE;
	padding:7px 0;
}
.pf-checking .pf-ch-box ul {
	padding:0;
	margin:0;
	list-style:none;
	width:100%;
}
.pf-checking .pf-ch-box ul li {
	min-height:26px;
}
.pf-checking .pf-ch-box ul .pfr-icon {
	float:right;
}

@media (max-width: 768px) {
	.unit-price-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  .upt-container{
  	float: none;
  	width: 100%;
  }
  .upt-container table.unit-price-table{
  	width: 100%;
  }
  	.unit-price-table tr:first-child{
  		border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  	}
  	.unit-price-table td{
		border-bottom: 1px solid #ddd;
	    display: block;
	    text-align: left;
	}
	.unit-price-table td::before{
		content: attr(data-label);
	    float: left;
	    font-weight: bold;
	    text-transform: uppercase;
	    min-width:50%;
	}
	.unit-price-table td:last-child{
		 border-bottom: 0;
	}
	.aec-product-left{
		width: 100%;
		float: none;
	}
	#upload-artwork{
		width: 80% !important;
	}
	.shop_table .product-remove{
		display:block;
	}
	.max-price-message{
		width:300px;
	}
	.o-notes .o-notes-text{
		width:100%;
		left:50%;
		right:0;
		margin: 0 auto;
		min-width: 200px;
		transform: translateX(-50%);
	}
	.pickup-time-wrap {
		overflow-x: auto;
	}
	/*.pickup-time-wrap ul {*/
	/*	display: flex;*/
	/*}*/
	/*.pickup-time-wrap ul li {*/
	/*	display: block;*/
	/*}*/
	/*.pickup-time-wrap ul li .pu-head,*/
	/*.pickup-time-wrap ul li:first-child .pu-head {*/
	/*	display: flex;*/
	/*	align-items: center;*/
	/*	justify-content: center;*/
	/*	flex-direction: column;*/
	/*	width: auto;*/
	/*	height: 70px;*/
	/*}*/
	/*.pickup-time-wrap ul li .pu-head .pu-name {*/
	/*	margin: 7px 0 0;*/
	/*}*/
	/*.pickup-time-wrap ul li .pu-day {*/
	/*	width: calc(100% - 2px);*/
	/*}*/
	/*.pickup-time-wrap ul li:first-child .pu-day {*/
	/*	height: 50px;*/
	/*}*/
}
@media (max-width: 767px) {
	.wp2print-info-form{
		max-width: 100%
	}
	.wp2print-info-form input[type="text"], .wp2print-info-form input[type="email"], .wp2print-info-form input[type="passsword"], .wp2print-info-form input[type="url"], .wp2print-info-form textarea{
		width: 100%;
		float: none;
	}
	.wp2print-info-form label{
		width: auto;
		padding: 0 0 5px;
		display: block;
		float: none;
	}
	.wp2print-info-form select{width: 100%;}
	.wp2print-info-form .uploads-box .uploads-fields{max-width: 100%}
}

@media (max-width: 500px) {
	.store-opening-wrap ul li {
		width: 100%;
	}
}
/* This is test */